.container {
  width: 100%;
  height: 100%;
}
.leftContent input:disabled {
  background-color: transparent;
  color: black;
}
.leftContent input {
  font-family: var(--poppins-font);
}
.content {
  width: 88%;
  margin: 0 auto;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  display: flex;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
.errors {
  font-size: 0.7rem;
  font-family: var(--poppins-font);
  color: red;
}
.header {
  width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2.5rem;
  margin-bottom: 1.4rem;
}
.header h2 {
  font-size: 1.2rem;
}
.header button {
  background: #f8cd46 0% 0% no-repeat padding-box;
  border-radius: 10px;
  border: 0;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.6rem 1.8rem;
  font-family: var(--poppins-font);
  color: white;
}
.leftContent {
  width: 40%;
  line-height: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-right: 2px solid #70707059;
}
.rightContent {
  padding-left: 3rem;
  padding-right: 3rem;
  width: 60%;
}
.flexNotification {
  display: flex;
}
.select {
  width: 10%;
}
.text {
  width: 75%;
}
.suggested {
  width: 17%;
}
.content h3 {
  font-family: var(--poppins-font);
  font-size: 1rem;
}
.leftContent h3 {
  font-weight: 500;
}
.flexNotification h3 {
  font-weight: 600;
}
.emailUpdate {
  margin-bottom: 1.35rem;
}
.authentication {
  margin-top: 1.9rem;
  margin-bottom: 0.8rem;
}

.subHeading {
  font-size: 0.8rem;
  font-family: var(--poppins-font);
  margin-bottom: 1.8rem;
}

.text p {
  font-size: 0.82rem;
  font-family: var(--poppins-font);
  color: #707070;
}
.suggested {
  text-align: right;
}
.text h3 {
  margin-bottom: 0.2rem;
}
.flexNotification {
  margin: 2rem 0;
}
.suggested button {
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 0.5rem 1.3rem;
  color: #b3b3b3;
  font-family: var(--poppins-font);
  font-weight: 500;
  background: white;
  font-size: 0.8rem;
}

/* .select button {
  background: #f8cd46 !important;
} */

.footer {
  width: 88%;
  height: 55px;
  margin: 2rem auto;
}
.footer button {
  border: 1px solid #707070;
  border-radius: 10px;
  background: white;
  color: #323232;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-family: var(--poppins-font);
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .header{
    margin: 1rem auto;
  }
  .rightContent,
  .leftContent {
    width: 100%;
  }
  .emailUpdate {
    margin-bottom: 0.5rem;
  }
  .rightContent,
  .leftContent {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .headerNot {
    margin-top: 1.9rem;
  }
  /* .rightContent */
  .suggested {
    width: 0;
    display: none;
  }
  .select {
    width: 20%;
  }
  .leftContent {
    border-right: 0;
  }
  .flexNotification {
    margin: 1rem 0;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
 
}
